@charset "utf-8";

/*=========RESET=========*/

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/*=========LAYOUT=========*/

body {
    background-color: #ffff;
    color: rgb(155, 66, 2);
    font-family: 'Courier New', Courier, monospace;
}

#principal {
    width: 1366px;
    margin: 0 auto;
    background-color: #FCD0C3;
}

header {
    height: 150px;
    background-image: url("../imagens/bck-header.png");
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex; /*para colocar a imagem do lado da lista*/
    justify-content: space-between;
}

#fotinho {
    padding-left: 30px;
    padding-top: 12px;
    width: 180px;
    height: 180px;
}


nav {
    /*background-color:#ffc1e0;*/
    width: 700px;
}

ul {
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    margin-top: 90px;
}

ul li {
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li:hover {
background-color: #fa87c1;
}

ul li a:hover {
    color: hsl(330, 98%, 51%);
    }




/*
#fotinho img {
    width: 30px;
} */



#contato {
    background-color: #f17eb8;
}

