@charset "utf-8";

body {
    background-color: rgb(255, 232, 190);
    color: rgb(155, 66, 2);
    font-family: 'Courier New', Courier, monospace;
}

#principal {
    width: 1356px;
    background-color: beige;
}

header {
    height: 150px;
}

ul {
    list-style-type: none;
    display:flex;
    justify-content: space-between;
}

/*
#fotinho {
    width: 180px;
    height: 180px;
}/*

/*
#fotinho img {
    width: 30px;
} */

