
@charset "UTF-8";


    body {
    background-color: #f4978e;
    font-family: 'Roboto Mono', monospace;
    color: #692923;
    }

    h1 {
        color:  #692923;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 1px;
    }

    #principal {
        background-color: #f4978e;
        width: 1200px;
        border: solid;
    }

    header {
        background-color: #f08080;
        height: 150px;
    }

    nav {
        background-color: #f8ad9d;
        width: 1000px;
        height: 50px;
    }
     
    #paisectioneaside {
        display: flex;
    }

    section {
    background-color: #f4978e;
    width: 900px;
    margin-right: 20px;
    height: 500px;
    border: solid;
    }

    .article01 {
        background-color: #fbc4ab;
        width: 850px;
        height: 130px;
    }

    .article02 {
        background-color: #ffdab9;
        width: 850px;
        height: 130px;
    }

    
    .article03 {
        background-color: #ffc599;
        width: 850px;
        height: 130px;
    }

    aside {
        background-color: #ffdab9;
        width: 280px;
        height: 500px; 
    }

    footer {
        background-color: #cc6060;
        height: 80px;
    }

    
   

